.contenedor_input{
    font-weight: #fff;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-container--invalid {
    margin-bottom: 0.5rem;
}

.input-container--invalid .input_texto {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
}

.input-container--invalid .label_flotante {
    color: var(--warning-color);
}

.input-message-error {
    display: none;
}

.input-container--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}



textarea{
    width: 98%;
    height: 10rem;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
    outline: none;
    margin-bottom: 1rem;
}

@media screen and (min-width:1024px) {
    textarea {
        font-size: 1.25rem;
        font-weight: 400;
    }
}
