

  .input_texto {
    box-sizing: border-box;
    border-bottom: 1px solid #d6eaff;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
    border: none;
    border-radius: 7px;
    padding-left: 20px;
  }
  
  .input_texto::placeholder {
    visibility: hidden;
    color: #00000000;
  }
  
  .input_texto:focus {
    outline: none;
  }
  
  .label_flotante {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
    transition: all 0.25s;
  }


  
  .input_texto:not(:placeholder-shown) + .label_flotante,
  .input_texto:focus + .label_flotante {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
  }